body {
    margin: 0 auto;
    max-width: 700px;
    padding: 40px;

    line-height: 1.5;
    font-family: sans-serif;
    font-size: 18px;

    color: #353535;
}

li {
    margin: 10px;
}

.symbol-link {
    text-decoration: none;
}
